.wrapper-404{
    display: flex;
    width: 90%;
    left: 5%;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.wrapper-404 img{
    width: 60%;
    height: auto;
}

.wrapper-404 a{
    border: 1px solid var(--primary-cl-800);
    padding: 0.8rem 1.2rem;
    border-radius: 0.7rem;
    text-decoration: none;
    color: var(--primary-cl-800);
    font-weight: 600;
}

@media only screen and (max-width: 767px){
    .wrapper-404 img{
        width: 90%;
    }
}
